fastapi>=0.111.0
uvicorn[standard]>=0.29.0
ollama>=0.2.0
chromadb>=0.5.0
python-dotenv>=1.0.0
pydantic>=2.7.0
aiofiles>=23.2.1
langdetect>=1.0.9

# STT
faster-whisper>=1.0.0

# TTS — YarnGPT (Yoruba, Igbo, Pidgin, English)
torch>=2.2.0
torchaudio>=2.2.0
transformers>=4.41.0
huggingface_hub>=0.23.0
uroman

# TTS — Piper (Hausa)
piper-tts>=1.2.0
